GEMINI_API_KEY = "<YOUR_GEMINI_API_KEY>"
APIFY_API_KEY = "<YOUR_APIFY_API_KEY>"
GROQ_API_KEY = "<YOUR_GROQ_API_KEY>"
DATABASE_URL = "<YOUR_DATABASE_URL>"

#FORMAT FOR DATABASE URL: postgresql://postgres:<YOUR_POSTGRES_PASSWORD>@localhost:5432/<YOUR_DATABASE_NAME>